<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apk.screenrec">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-feature android:name="android.hardware.faketouch" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name="apk.screenrec.App"
        android:largeHeap="true"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="UnusedAttribute">
        <activity
            android:name="apk.screenrec.MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apk.screenrec.SettingsActivity"
            android:label="@string/settings"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name="apk.screenrec.RequestPermission"
            android:exported="false"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true" />
        <service
            android:name="apk.screenrec.Service"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.ShareContentProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>